body {
	margin: 10px 10px;
	padding: 20px 20px 20px 20px;
	background-attachment: fixed;
}

header {
	position: relative;
	max-width: 100%;
	margin: 10px auto;
	background-color: rgb(161, 159, 125);
	padding-bottom: 85px;
	border-radius: 30px;
}

.logo {
	margin: auto;
	padding: 30px 20px;
	float: left;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

nav {
	float: right;
	padding-left: 10px;
	padding-top: 0px;
	padding-bottom: 0;
}

.clearfix {
	clear: both;
}

nav ul {
	margin: 0px;
	margin-bottom: 20px;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

nav ul li {
	list-style: none;
	padding-left: 3px;
	padding-right: 3px;
}

nav ul li a {
	display: block;
	margin: 10px 0;
	padding: 10px 30px;
	text-decoration: none;
	color: black;
	font-style: normal;
	font-size: 15px;
}

nav ul li a.active, nav ul li a:hover {
	background: rgb(150, 82, 228);
	color: rgba(207, 250, 14, 0.918);
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	border-radius: 15px;
}

.search {
	padding-top: 11px;
}

.search input:hover {
	background: rgb(3, 4, 5);
	color: rgba(255, 255, 255, 0.918);
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

input {
	height: 43px;
	width: 6cm;
	border-width: 2px;
	border-color: rgb(5, 223, 16);
	border-radius: 15px;
}

button {
	color: rgb(19, 130, 233);
	border-width: 2px;
	border-style: none;
	background: none;
	padding-left: 15px;
}

/* first full image */

.aboutus {
	padding-top: 40px;
	padding-bottom: 30px;
	border-bottom: 3px solid black;
}

.aboutus-img {
	position: absolute;
	height: 700px;
	width: 96%;
}

.aboutus-img-desc {
	position: relative;
	text-align: center;
	height: 700px;
	width: 96%;
	padding-top: 50px;
	color: rgb(245, 245, 245);
	font-size: 30px;
}

/* main about us part -desc part */

.aboutus-part {
	width: 100%;
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: 3px solid black;
}

.aboutus-h1 {
	text-align: center;
	font-size: 50px;
	text-decoration: underline;
	padding-bottom: 50px;
}

.aboutus-txt {
	padding-right: 50px;
	padding-left: 50px;
	text-align: justify;
	font-size: 20px;
}

/* footer */

.footer-container {
	width: 100%;
	display: table;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 50px 10px 10px 10px;
	position: relative;
}

.footer-row {
	margin: 10px 10px;
	width: 100%;
	column-gap: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.footer-column1 {
	display: table-cell;
	border: 10px solid black;
	text-align: center;
	width: 33%;
	background-color: rgb(26, 75, 94);
	color: rgb(237, 253, 10);
}

.footer-column2 {
	display: table-cell;
	border: 10px solid black;
	text-align: center;
	width: 33%;
	color: rgb(237, 253, 10);
	background-color: rgb(26, 75, 94);
}

.footer-column3 {
	border: 10px solid black;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 33%;
	color: rgb(237, 253, 10);
	background-color: rgb(26, 75, 94);
}

.tours {
	text-decoration: underline;
	color: rgb(255, 255, 255);
	padding-top: 20px;
}

.contact {
	text-align: justify;
	padding-left: 30px;
	padding-right: 30px;
}

.quicklink {
	text-align: justify;
	padding-top: 10px;
	padding-left: 80px;
	padding-right: 20px;
	color: black;
}

.quicklink-html {
	color: rgb(253, 154, 5);
	text-decoration: none;
}

.stayintouch {
	color: rgb(30, 253, 0);
	font-size: 25px;
	font-family: cursive;
}

.your-email {
	height: 43px;
	width: 8cm;
	border-width: 2px;
	border-color: rgb(248, 0, 0);
	border-radius: 15px;
}

.subscribe {
	color: rgb(252, 252, 252);
	border-width: 3px;
	border-radius: 20px;
	border: 2px solid black;
	background: rgb(235, 8, 8);
	padding-left: 15px;
}

.copyright {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 20px;
	border-top: 3px solid rgb(252, 9, 199);
	border-bottom: 3px solid rgb(252, 9, 199);
	color: black;
	text-align: center;
	font-size: large;
	font-family: 'Courier New', Courier, monospace;
}