<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="gallery.css">
  <title>Gallery</title>
</head>

<body>
  <header>`
    <div class="logo">
      <img src="" alt="logo" class="">
    </div>

    <div class="menu-toggle"></div>
    <nav>
      <ul>
        <li><a href="index.html"><b>Home</b></a></li>
        <li><a href="gallery.html" class="active"><b>Gallery</b></a></li>
        <li><a href="destination.html"><b>Destination</b></a></li>
        <li><a href="aboutus.html"><b>About Us</b></a></li>
        <li>
          <form class="search" action="/search" method="GET">
            <input type="text" placeholder="Search The packages" name="s" id="search">
            <button type="submit"><i class="fas fa-search"></i></button>
          </form>
        </li>
        <li><a href="login.html"><b>Log In</b></a></li>
      </ul>
      <div class="clearfix"></div>
    </nav>
  </header>

  <!-- Image slide -->
  <div class="slider">
    <div class="slides">
      <input type="radio" name="radio-btn" id="radio1">
      <input type="radio" name="radio-btn" id="radio2">
      <input type="radio" name="radio-btn" id="radio3">
      <input type="radio" name="radio-btn" id="radio4">

      <div class="slide first">
        <img src="/main/images/Bhaktapur Durbar Square.jpg" alt="" class="first-slide">

      </div>
      <div class="slide">
        <img src="/main/images/lake-pokhara.jpg" alt="">
      </div>
      <div class="slide">
        <img src="/main/images/janakpur.jpg" alt="">
      </div>
      <div class="slide">
        <img src="/main/images/image1.jpg" alt="">
      </div>

      <!--automatic navigation-->
      <div class="navigation-auto">
        <div class="auto-btn1"></div>
        <div class="auto-btn2"></div>
        <div class="auto-btn3"></div>
        <div class="auto-btn4"></div>
      </div>

    </div>

    <!--manual navigation-->
    <div class="navigation-manual">
      <label for="radio1" class="manual-btn"></label>
      <label for="radio2" class="manual-btn"></label>
      <label for="radio3" class="manual-btn"></label>
      <label for="radio4" class="manual-btn"></label>
    </div>
  </div>

  <div class="gallery-txt">Gallery</div>
  <!-- 1st column -->
  <section class="first-col-img">
    <img src="/main/discover_images/chitwan.jpg" alt="">
    <img src="/main/events-images/holi.jpg" alt="">
  </section>
  <!-- 2nd column -->
  <div class="container">
    <div class="row">
      <div class="column1">
        <img src="/main/images/lake-pokhara.jpg" alt="">
        <img src="/main/discover_images/lumbini.jpg" alt="">
        <img src="/main/events-images/dashain.jpg" alt="">
        <img src="/main/things-to-do/nepal nature enjoy.jpg" alt="">
      </div>
      <div class="column2">
        <img src="/main/images/temple.jpeg" alt="">
        <img src="/main/discover_images/kathmandu valley.jpeg" alt="">
        <img src="/main/events-images/bisket jatra.jpg" alt="">
        <img src="/main/things-to-do/mountaineering.jpeg" alt="">
      </div>
    </div>
  </div>
  <!-- 3rd column -->
  <section class="third-col-img">
    <img src="/main/discover_images/pokhara.jpg" alt="">
    <img src="/main/events-images/gaijatra.jpg" alt="">
  </section>

  <!-- load more images -->
  <div class="load-more-img">
    <button type="submit" class="load-more">Load More Images</button>
  </div>

  <!-- footer -->
  <footer>
    <div class="footer-container">
      <div class="footer-row">
        <div class="footer-column1">
          <h3 class="tours">Tours & Travels</h3>
          <br>
          <p class="contact">Welcome to our "Tours And Travels" website. <br>
            You are on the right destination to enjoy your weekends. This is one of the best website for tours and
            travels. You can enjoy any packages you like. <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "Enjoy here in
            heaven-Nepal"</p>
          <div class="contact">
            <p class="phone-no"><i class="fas fa-phone-square-alt"></i> &nbsp;&nbsp;&nbsp;&nbsp; 01-1234567
              <br>
              <i class="fas fa-envelope-square"></i> &nbsp;&nbsp;&nbsp;&nbsp; info@tours&travels.com
            </p>
            <p>
              <i class="fab fa-facebook"></i> &nbsp;&nbsp;&nbsp;&nbsp; <i class="fab fa-twitter"></i>
              &nbsp;&nbsp;&nbsp;&nbsp; <i class="fab fa-instagram"></i>
            </p>
          </div>
        </div>

        <div class="footer-column2">
          <h3 class="tours">Quick Links</h3>
          <br>
          <li class="quicklink"><a class="quicklink-html" href="index.html"><b>Home</b></a></li>
          <li class="quicklink"><a class="quicklink-html" href="gallery.html"><b>Gallery</b></a></li>
          <li class="quicklink"><a class="quicklink-html" href="destination.html"><b>Destination</b></a></li>
          <li class="quicklink"><a class="quicklink-html" href="aboutus.html"><b>About Us</b></a></li>
        </div>

        <div class="footer-column3">
          <p class="stayintouch">Stay in Touch</p>
          <br>
          <form action="/submit" method="POST">
            <input class="your-email" type="text" placeholder="Your Email...">
          </form>
          <br>
          <button type="submit" class="subscribe">subscribe</button>
        </div>

      </div>
    </div>

    <div class="copyright">
      <p><b>copyright &copy;2021: All Rights reserved by Tours And Travels</b></p>
    </div>
  </footer>

  <script type="text/javascript">
    var counter = 1;
    setInterval(function () {
      document.getElementById('radio' + counter).checked = true;
      counter++;
      if (counter > 4) {
        counter = 1;
      }
    }, 5000);
  </script>

</body>

</html>