<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

  <title>Tours and Travels</title>
</head>

<body>
  <header>`
    <div class="logo">
      <img src="" alt="logo" class="">
    </div>

    <div class="menu-toggle"></div>
    <nav>
      <ul>
        <li><a href="index.html" class="active"><b>Home</b></a></li>
        <li><a href="gallery.html"><b>Gallery</b></a></li>
        <li><a href="destination.html"><b>Destination</b></a></li>
        <li><a href="aboutus.html"><b>About Us</b></a></li>
        <li>
          <form class="search" action="/search" method="GET">
            <input type="text" placeholder="Search The packages" name="s" id="search">
            <button type="submit"><i class="fas fa-search"></i></button>
          </form>
        </li>
        <li><a href="login.html"><b>Log In</b></a></li>
      </ul>
      <div class="clearfix"></div>
    </nav>
  </header>

  <!-- Image slide -->
  <div class="slider">
    <div class="slides">
      <input type="radio" name="radio-btn" id="radio1">
      <input type="radio" name="radio-btn" id="radio2">
      <input type="radio" name="radio-btn" id="radio3">
      <input type="radio" name="radio-btn" id="radio4">

      <div class="slide first">
        <img src="/static/Bhaktapur Durbar Square.jpg" alt="" class="first-slide">

      </div>
      <div class="slide">
        <img src="/static/lake-pokhara.jpg" alt="">
      </div>
      <div class="slide">
        <img src="/static/janakpur.jpg" alt="">
      </div>
      <div class="slide">
        <img src="/static/image1.jpg" alt="">
      </div>
      <!-- <div class="slide">
          <img src="/images/village.jpg" alt="">
        </div>
        <div class="slide">
          <img src="/images/temple.jpeg" alt="">
        </div> -->
      <!--automatic navigation-->
      <div class="navigation-auto">
        <div class="auto-btn1"></div>
        <div class="auto-btn2"></div>
        <div class="auto-btn3"></div>
        <div class="auto-btn4"></div>
      </div>

    </div>

    <!--manual navigation-->
    <div class="navigation-manual">
      <label for="radio1" class="manual-btn"></label>
      <label for="radio2" class="manual-btn"></label>
      <label for="radio3" class="manual-btn"></label>
      <label for="radio4" class="manual-btn"></label>
    </div>
  </div>

  <!-- Discover Nepal -->
  <div>
    <h1 class="discover">Discover Nepal</h1>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="/static/kathmandu valley.jpeg" alt="" height="350px" width="500px">
        <div class="places"><b>Nyatapola temple - Bhaktapur</b></div>
      </div>
      <div class="col">
        <div class="col1">
          <img src="/static/chitwan.jpg" alt="" height="166px" width="250px">
          <div class="places"><b>chitwan</b></div>
        </div>
        <br>
        <div class="col1">
          <img src="/static/lumbini.jpg" alt="" height="166px" width="250px">
          <div class="places"><b>lumbini</b></div>
        </div>
      </div>

      <div class="col">
        <div class="col2">
          <img src="/discover_images/pokhara.jpg" alt="" height="166px" width="250px">
          <div class="places"><b>pokhara</b></div>
        </div>
        <br>
        <div class="col2">
          <img src="/static/sagarmatha.jpg" alt="" height="166px" width="250px">
          <div class="places"><b>sagarmatha</b></div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <section class="explore">
      <button class="explore-more" type="submit"><b>Explore more..</b></button>
    </section>
  </div>
  <br>
  <br>
  <br>
  <br>

  <!-- Upcoming Events -->
  <div class="discover">
    <h1>Upcoming Events</h1>
  </div>

  <br>
  <br>
  <div class="event-slider">
    <div class="event-slides">
      <input type="radio" name="radio-btn" id="radio1">
      <input type="radio" name="radio-btn" id="radio2">
      <input type="radio" name="radio-btn" id="radio3">
      <input type="radio" name="radio-btn" id="radio4">

      <div class="event-slide first">
        <div class="event-container">
          <div class="event-row">
            <div class="event-col">
              <img src="/static/dashain.jpg" alt="" height="500px" width="700px">
            </div>
            <div class="event-col"></div>
            <p>Description of events</p>
          </div>
        </div>
      </div>
    </div>
    <div class="event-slide">
      <div class="event-container">
        <div class="event-row">
          <div class="event-col">
            <img src="/static/bisket jatra.jpg" alt="" height="500px" width="700px">
          </div>
          <div class="event-col">
            <p>Description of events</p>
          </div>
        </div>
      </div>
    </div>
    <div class="event-slide">
      <div class="event-container">
        <div class="event-row">
          <div class="event-col">
            <img src="/static/holi.jpg" alt="" height="500px" width="700px">
          </div>
          <div class="event-col">
            <p>Description of events</p>
          </div>
        </div>
      </div>
    </div>
    <div class="event-slide">
      <div class="event-container">
        <div class="event-row">
          <div class="event-col">
            <img src="/static/tihar.jpg" alt="" height="500px" width="700px">
          </div>
          <div class="event-col">
            <p>Description of events</p>
          </div>
        </div>
      </div>
    </div>
    <!--automatic navigation-->
    <div class="event-navigation-auto">
      <div class="auto-btn1"></div>
      <div class="auto-btn2"></div>
      <div class="auto-btn3"></div>
      <div class="auto-btn4"></div>
    </div>

  </div>

  <!--manual navigation-->
  <div class="event-navigation-manual">
    <label for="radio1" class="manual-btn"></label>
    <label for="radio2" class="manual-btn"></label>
    <label for="radio3" class="manual-btn"></label>
    <label for="radio4" class="manual-btn"></label>
  </div>
  </div>
  <br>
  <br>

  <!-- Things to do -->
  <div>
    <h1 class="thingstodo">Things To Do</h1>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="/static/mountaineering.jpeg" alt="" height="350px" width="500px">
        <div class="places"><b>Mountaineering</b></div>
      </div>
      <div class="col">
        <div class="col1">
          <img src="/static/cycling.jpg" alt="" height="166px" width="250px">
          <div class="places"><b>Cycling</b></div>
        </div>
        <br>
        <div class="col1">
          <img src="/static/nepal nature enjoy.jpg" alt="" height="166px" width="250px">
          <div class="places"><b>View Enjoy</b></div>
        </div>
      </div>

      <div class="col">
        <div class="col2">
          <img src="/static/pashupatinath tour.jpeg" alt="" height="166px" width="250px">
          <div class="places"><b>Tirtha Yatra</b></div>
        </div>
        <br>
        <div class="col2">
          <img src="/static/trekking.jpeg" alt="" height="166px" width="250px">
          <div class="places"><b>Trekking</b></div>
        </div>
      </div>
    </div>
    <br>
    <br>

    <!-- footer -->
    <footer>
      <div class="footer-container">
        <div class="footer-row">
          <div class="footer-column1">
            <h3 class="tours">Tours & Travels</h3>
            <br>
            <p class="contact">Welcome to our "Tours And Travels" website. <br>
              You are on the right destination to enjoy your weekends. This is one of the best website for tours and
              travels. You can enjoy any packages you like. <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "Enjoy here in
              heaven-Nepal"</p>
            <div class="contact">
              <p class="phone-no"><i class="fas fa-phone-square-alt"></i> &nbsp;&nbsp;&nbsp;&nbsp; 01-1234567
                <br>
                <i class="fas fa-envelope-square"></i> &nbsp;&nbsp;&nbsp;&nbsp; info@tours&travels.com
              </p>
              <p>
                <i class="fab fa-facebook"></i> &nbsp;&nbsp;&nbsp;&nbsp; <i class="fab fa-twitter"></i>
                &nbsp;&nbsp;&nbsp;&nbsp; <i class="fab fa-instagram"></i>
              </p>
            </div>
          </div>

          <div class="footer-column2">
            <h3 class="tours">Quick Links</h3>
            <br>
            <li class="quicklink"><a class="quicklink-html" href="index.html"><b>Home</b></a></li>
            <li class="quicklink"><a class="quicklink-html" href="gallery.html"><b>Gallery</b></a></li>
            <li class="quicklink"><a class="quicklink-html" href="destination.html"><b>Destination</b></a></li>
            <li class="quicklink"><a class="quicklink-html" href="aboutus.html"><b>About Us</b></a></li>
          </div>

          <div class="footer-column3">
            <p class="stayintouch">Stay in Touch</p>
            <br>
            <form action="/submit" method="POST">
              <input class="your-email" type="text" placeholder="Your Email...">
            </form>
            <br>
            <button type="submit" class="subscribe">subscribe</button>
          </div>

        </div>
      </div>

      <div class="copyright">
        <p><b>copyright &copy;2021: All Rights reserved by Tours And Travels</b></p>
      </div>
    </footer>


    <script type="text/javascript">
      var counter = 1;
      setInterval(function () {
        document.getElementById('radio' + counter).checked = true;
        counter++;
        if (counter > 4) {
          counter = 1;
        }
      }, 5000);
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"></script>

</body>


</html>