<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel tour | {% block title %} {% endblock title %} </title>
      <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
     <link rel="stylesheet" href="{% static 'app/css/aboutus.css' %}">
      <link rel="stylesheet" href="{% static 'app/css/destination.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/event.css' %}">
           <link rel="stylesheet" href="{% static 'app/css/gallery.css' %}">
            <link rel="stylesheet" href="{% static 'app/css/boooking.css' %}">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    </head>

<body>
  <header>`

    <nav class="navbar">
      <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </a>
      <div class="navbar-links">
        <ul>
          <li><a href="/" class="active"><b>Home</b></a></li>
          <li><a href="/gallery"><b>Gallery</b></a></li>
          <li><a href="/booking"><b>booking</b></a></li>
          <li><a href="/aboutus"><b>About Us</b></a></li>
          <li><a href="/destination"><b>Destination</b></a></li>

          
          <li>
            <form class="search" action="/search" method="POST">
              {% csrf_token %}
              <input type="text" placeholder="Search The packages" name="s" id="search">
              <button type="submit"><i class="fas fa-search"></i></button>
            </form>
          </li>
        </ul>
      </div>
    </nav>
  </header>
    {% block banner_slider %}
        {% endblock banner_slider %}
        {% block Serach %}
        {% endblock Serach %}
      
        {% block main-content %} 
        {% endblock main-content %}


 <footer>
    <!-- Contact Section -->
    <section id="contact" class="p-3">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <div class="card mt-3">
                      <div class="card-body bg-teal text-center text-white">
                          <i class="fa fa-envelope fa-4x"></i>
                          <h2>Contact For Bookings</h2>
                          <p>Find below customer service details of Travelyatri.com pakages portal, including phone
                              and address. You can reach the below contact for new pakages booking, cancellation,
                              refund, discounts, or for queries on Booking services. Besides contact details the page
                              also offers information and links on services of Booking.</p>
                      </div>
                  </div>
                  <ul class="list-group">
                      <li class="list-group-item">
                          <h3>Location</h3>
                      </li>
                      <li class="list-group-item">
                          Travel Yatri Pvt Ltd
                      </li>
                      <li class="list-group-item">
                          Bhatkekopul
                      </li>
                      <li class="list-group-item">
                          Kathmandu, Nepal
                      </li>
                  </ul>
              </div>
              <div class="col-md-6">
                  <div class="card mt-3">
                      <div class="card-header bg-teal text-white text-center">


                          <!--Contact us-->
                          <h3>Contact Us</h3>
                      </div>
                      <div class="card-body ">
                          <form class="" method="post">
                              {% csrf_token %}
                              <div class="form-group ">
                                  <input name="name" type="name" class="form-control" placeholder="Name">
                              </div>
                              <div class="form-group">
                                  <input name="email" type="email" class="form-control" placeholder="Email">
                              </div>


                              <div class="form-group">
                                  <textarea name="subject" class="form-control" rows="5"
                                      placeholder="Subject"></textarea>
                              </div>
                              <div class="container-contact100-form-btn">
                                  <button class="contact100-form-btn">
                                      Send Message
                                  </button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
      <div class="footer-container">
        <div class="footer-row">
          <div class="footer-column1">
            <h3 class="tours">Tours & Travels</h3>
            <br>
            <p class="contact">Welcome to our "Tours And Travels" website. <br>
              You are on the right destination to enjoy your weekends. This is one of the best website for tours and
              travels. You can enjoy any packages you like. <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "Enjoy here in
              heaven-Nepal"</p>
            <div class="contact">
              <p class="phone-no"><i class="fas fa-phone-square-alt"></i> &nbsp;&nbsp;&nbsp;&nbsp; 01-1234567
                <br>
                <i class="fas fa-envelope-square"></i> &nbsp;&nbsp;&nbsp;&nbsp; info@tours&travels.com
              </p>
              <p>
                <i class="fab fa-facebook"></i> &nbsp;&nbsp;&nbsp;&nbsp; <i class="fab fa-twitter"></i>
                &nbsp;&nbsp;&nbsp;&nbsp; <i class="fab fa-instagram"></i>
              </p>
            </div>
          </div>

          <div class="footer-column2">
            <h3 class="tours">Quick Links</h3>
            <br>
            <li class="quicklink"><a class="quicklink-html" href="/"><b>Home</b></a></li>
            <li class="quicklink"><a class="quicklink-html" href="/gallery"><b>Gallery</b></a></li>
            <li class="quicklink"><a class="quicklink-html" href="/destination"><b>Destination</b></a></li>
            <li class="quicklink"><a class="quicklink-html" href="/aboutus"><b>About Us</b></a></li>
            <li class="quicklink"><a class="quicklink-html" href="/booking"><b>booking</b></a></li>
          </div>



        </div>
      </div>

      <div class="copyright">
        <p><b>copyright &copy;2021: All Rights reserved by Tours And Travels</b></p>
      </div>
    </footer>

    <script src="{% static 'app/js/home.js' %}"></script>
    <script src="{% static 'app/js/loadmore.js' %}"></script>
</body>
</html>