{% extends 'app/base.html' %}
{% load static %}
{% block title %}Booking{% endblock title %}


        {% block main-content %} 
<div class="booking-form-boxs">
<div class="radio-btn">
<input type="radio" class="btn" name="check" checked="checked"><span>Roundtrip</span>
<input type="radio" class="btn" name="check"><span>one way</span>
<input type="radio" class="btn" name="check"><span>multy city</span>

</div>
  <form  class="" method="POST">
    {% csrf_token %}
<div class="booking-form">
<label >Travelling From </label>
<input type="text" name="travellingfrom" class="form-control" placeholder="Place Name">
<label >Travelling To</label>
<input type="text" class="form-control"  name="travellingto" placeholder="Place Name">
<div class="input-grp">
<label >Departing</label>
<input type="date"  name="departing" class="form-control select-date" >
</div>
<div class="input-grp">
<label >Returing</label>
<input type="date"  name="returing" class="form-control select-date" >


</div>
<div class="input-grp">
<label >Adults</label>
<input type="number"  name="adults" class="form-control" value="1" >
</div>


<div class="input-grp">
<label >Childern</label>
<input type="number"  name="childern" class="form-control" value="0" >
</div>


<div class="input-grp">
<label >Travel Types</label>

<select name="traveltypes"  class="custom-select">


<option value="Bus">Bus</option>
<option value="Aeroplane">Aeroplane</option>
<option value="Car">Car</option>
</select>
</div>
<div class="input-group">
  <button class="contact100-form-btn">
 Send Message
 </button>
</form>

</button>
</div>
</div>
 {% endblock main-content %}
        