{% extends 'app/base.html' %}
{% load static %}
{% block title %}Booking{% endblock title %}


        {% block main-content %} 
    
          <h1 class="destination-title">Packages that you might want....</h>
          <br>
          <section class="section1">
            <div class="container">
              <div class="row">
                <div class="column1">
                  <img src="{% static 'app/images/Bhaktapur Durbar Square.jpg' %}" alt="Bhaktapur Durbar Square" class="">
                </div>
        
                <div class="column2">
                  <h3 class="BDS">Bhaktapur Durbar Square</h3>
                  <br>
                  <p>55 window palace. The Palace of Fifty-five Windows was built during the reign of the Malla King Yaksha
                    Malla in 1427 AD.</p> <br>
                  <br>
        
                </div>
        
                <div class="column3">
                  <button type="button"><a href="/booking" class="book-now">Book Now</a></button>
                </div>
        
              </div>
            </div>
          </section>
        
          <section class="section1">
            <div class="container">
              <div class="row">
                <div class="column1">
                  <img src="{% static 'app/images/bouddha.jpg' %}" alt="Bouddha" class="">
                  
                </div>
        
                <div class="column2">
                  <h3 class="BDS">BouddhaNath Stupa</h3>
                  <br>
                  <p>Boudha is a stupa in Kathmandu, Nepal. Located about 11 km from the center and northeastern outskirts of
                    Kathmandu.</p> <br>
                </div>
        
                <div class="column3">
                  <button type="button"><a href="/booking" class="book-now">Book Now</a></button>
                </div>
        
              </div>
            </div>
          </section>
        
          <section class="section1">
            <div class="container">
              <div class="row">
                <div class="column1">
                  <img src="{% static 'app/images/janakpur.jpg' %}" alt="Janakpur" class="">
                </div>
        
                <div class="column2">
                  <h3 class="BDS">Janakpur</h3>
                  <br>
                  <p>It is said that Ram and Sita met in Janakpur and eventually also got married here. Janakpur is also one of
                    the holy sites on the route of Parikrama (holy circle).</p> <br>
                </div>
        
                <div class="column3">
                  <button type="button"><a href="/booking" class="book-now">Book Now</a></button>
                </div>
        
              </div>
            </div>
          </section>
        
          <section class="section1">
            <div class="container">
              <div class="row">
                <div class="column1">
                  <img src="{% static 'app/images/sagarmatha.jpg' %}" alt="sagarmatha" class="">
                </div>
        
                <div class="column2">
                  <h3 class="BDS">Sagarmatha</h3>
                  <br>
                  <p>Mount Everest is Earth's highest mountain above sea level, located in the Mahalangur Himal sub-range of the
                    Himalayas.</p>
                </div>
        
                <div class="column3">
                  <button type="button"><a href="/booking" class="book-now">Book Now</a></button>
                </div>
        
              </div>
            </div>
          </section>
        
          <section class="section1">
            <div class="container">
              <div class="row">
                <div class="column1">
                  <img src="{% static 'app/images/chitwan.jpg' %}" alt="chitwan" class="">
                </div>
        
                <div class="column2">
                  <h3 class="BDS">Chitwan</h3>
                  <br>
                  <p>At the foot of the Himalayas, Chitwan is one of the few remaining undisturbed vestiges of the 'Terai' region, which formerly extended over the foothills of India and Nepal. It has a particularly rich flora and fauna.</p>
                </div>
        
                <div class="column3">
                  <button type="button"><a href="/booking" class="book-now">Book Now</a></button>
                </div>
        
              </div>
            </div>
          </section>
        
          <section class="section1">
            <div class="container">
              <div class="row">
                <div class="column1">
                  <img src="{% static 'app/images/lumbini.jpg' %}" alt="lumbini" class="">
                </div>
        
                <div class="column2">
                  <h3 class="BDS">Lumbini</h3>
                  <br>
                  <p>Siddhartha Gautama, the Lord Buddha, was born in 623 B.C. in the famous gardens of Lumbini, which soon became a place of pilgrimage. Among the pilgrims was the Indian emperor Ashoka, who erected one of his commemorative pillars there.</p>
                </div>
        
                <div class="column3">
                  <button type="button"><a href="/booking" class="book-now">Book Now</a></button>
                </div>
        
              </div>
            </div>
          </section>
        
          <section class="section1">
            <div class="container">
              <div class="row">
                <div class="column1">
                  <img src="{% static 'app/images/pokhara.jpg' %}" alt="pokhara" class="">
                </div>
        
                <div class="column2">
                  <h3 class="BDS">Pokhara</h3>
                  <br>
                  <p>Pokhara is a city on Phewa Lake, in central Nepal. It’s known as a gateway to the Annapurna Circuit, a popular trail in the Himalayas. Tal Barahi Temple, a 2-story pagoda, sits on an island in the lake.</p>
                </div>
        
                <div class="column3">
                  <button type="button"><a href="/booking" class="book-now">Book Now</a></button>
                </div>
        
              </div>
            </div>
          </section>
        
         
          <script type="text/javascript" src="home.js">
          </script>
        </body>
        
        </html>
 {% endblock main-content %}
        